/* Remove the default number input arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#wrapper-profile{
    width: 35vw;
    min-width: 25rem;
}
.wrapper-large{
    width: 50vw;
    background-color: #deae74;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(37px);
    box-shadow: 0 0 10px rgba(106, 13, 131, .2); 
    color: #fff;
    border-radius: 10px; 
    padding: 2rem 3rem; 
    min-width: 50rem;
    
    .input-box-large {
        position: relative; 
        width: 100%; 
        height: 50px; 
        margin: 30px 0; 
    }

    .input-box-small {
        position: relative; 
        width: 100%; 
        height: 50px; 
        margin: 30px 0; 
    }
}


.input-box-large input {
    width: 100%; 
    height: 50px; 
    background: transparent; 
    outline: none; 
    border: 2px solid rgba(106, 13, 131, .2); 
    border-radius: 40px; 
    font-size: 16px; 
    color: #6a0d83; 
    padding: 20px 45px 20px 20px; 
}

.input-box-small input {
    width: 34%; 
    height: 100%; 
    background: transparent; 
    outline: none; 
    border: 2px solid rgba(106, 13, 131, .2); 
    border-radius: 40px; 
    font-size: 16px; 
    color: #6a0d83; 
    padding: 20px 45px 20px 20px;
    margin-right: 5%
}

.charLimit {
    font-size: 10px;
    color: rgba(0, 0, 0, .4);
    display:inline;
}

.input-box-small .charLimit {
    margin-left: 8.5%;
    margin-right: 14%;
    /* border: red solid; */
    position: relative;
}


.wrapper-large h1 {
    font-size: 36px; 
    text-align: center; 
    color: #ee5d6e;
}

.wrapper-large p {
    color: #6a0d83;
}

.input-box-large input::placeholder {
    color: #6a0d83; 
}

.input-box-small input::placeholder {
    color: #6a0d83; 
}

.input-box-small select{
    margin-left: 1%;
    appearance: none;
    background-position:right 50%;
    background-repeat:no-repeat;
    background-image:url(../../Images/down-arrow.png);
    padding: 2% 7%;
    background-color: transparent;
    border:rgba(106, 13, 131, .2) solid 2px;
    color: #6a0d83; 
    border-radius: 40px;
    font-size: 16px; 
}

.input-box-small{
    text-align: left;
}

.input-box-large{
    text-align: right;
}

.wrapper-large button {
    width: 40%; 
    height: 45px; 
    margin: 3% 2%;
    background: #ee5d6e; 
    border: none; 
    outline: none; 
    border-radius: 40px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, .1); 
    cursor: pointer;
    font-size: 16px;
    color: #fff; 
    font-weight: 700; 
}

.wrapper-large button:hover {
    background: #6a0d83; 
}

.profile-row{
    width: 100%;
    display: flex;
    align-items:space-between;
    justify-content: space-between;
    padding: .25rem;
    border-top:2px solid rgba(255, 255, 255, 0.4);
}

