.NavBarWrapper {
    position: absolute;
    display: flex;
    top: 0px;
    background: red;
    width: 100%;
    justify-content: center;
    height: 5vh;
}

.navButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    margin: 0px 10px 0px 10px;
}