.NavBarWrapper {
    position: absolute;
    display: flex;
    top: 0px;
    background: #ee5d6c;
    width: 100%;
    justify-content: center;
    height: 5vh;
}

.navButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    color: white;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    font-weight: bold;
}

.linkBox {
    height: 100%;
    display: flex;
    align-items: center;
}

.linkBox:hover {
    background: #6a0d83;
}

.links:visited {
    color: white;
}