
/* Login Box */
.wrapper{
    width: 420px; 
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2); 
    backdrop-filter: blur(37px);
    box-shadow: 0 0 10px rgba(106, 13, 131, .2); 
    color: #fff;
    border-radius: 10px; 
    padding: 30px 40px; 
}
/* Login Title */
.wrapper h1 {
    font-size: 36px; 
    text-align: center; 
    color: #ee5d6e;
    padding-bottom: 20px;
}

.wrapper .user-instructions {
    text-align: left;
    color: #6a0d83;
    font-style: italic;
    font-size: 11px; 

    padding: 0px 5px -5px 0px; 
}

/* icon */
.wrapper .input-box {
    position: relative; 
    width: 100%; 
    height: 50px; 
    margin: 15px 0px; 
}


/* Username and Password box */
.input-box input {
    width: 100%; 
    height: 100%; 
    background: transparent; 
    outline: none; 
    border: 2px solid rgba(106, 13, 131, .2); 
    border-radius: 40px; 
    font-size: 16px; 
    color: #6a0d83; 
    padding: 20px 45px 20px 20px; 
}

/* Username and Password Placeholder color */
.input-box input::placeholder {
    color: #6a0d83; 
}

/* Username & Password icons */
.input-box .icon {
    position: absolute; 
    right: 20px;
    top: 50%; 
    transform: translateY(-50%); 
    font-size: 16px; 
    color: #6a0d83
}

/* Login and Create Account Buttons */
.wrapper button {
    width: 100%; 
    height: 45px; 
    margin: 3px 0;
    background: #ee5d6e; 
    border: none; 
    outline: none; 
    border-radius: 40px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, .1); 
    cursor: pointer;
    font-size: 16px;
    color: #fff; 
    font-weight: 700; 
}

.wrapper button:hover {
    background: #6a0d83; 
}

/* Divider between Login and Create Account buttons */
.wrapper .divider {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6a0d83;
    font-size: 12px;
}

.wrapper .divider hr {
    width: 100px;
    height: 1px;
    background-color: #6a0d83;
    color: #6a0d83;
    border-color: #6a0d83;
    border: 1px;
}

.wrapper .divider p {
    padding: 0px 10px 0px 10px;
}

.wrapper .registerButton .existMess {
    font-size: 12px;
    color: #6a0d83;
}